.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

.buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 400px) {
  .buttons {
    flex-direction: column;
    gap: var(--gap);
  }
}

.link {
  padding: var(--btn-link-padding-y) var(--btn-link-padding-x);

  text-align: center;
  text-decoration: none;

  color: var(--clr-black-1);
  background-color: var(--clr-white-2);
  box-shadow: 0.5rem 0.5rem var(--clr-black-2);

  min-width: 10rem;
  width: fit-content;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--clr-white-1);
    box-shadow: 0.7rem 0.7rem var(--clr-black-2);
    transform: translate(-0.2rem, -0.2rem);
  }
}
