@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

:root {
  /* Dark color theme variables */
  --clr-black-1: #121212;
  --clr-black-2: #333;
  --clr-white-1: #f5f5f5;
  --clr-white-2: #e0e0e0;

  --fz-h1: clamp(3rem, 5vw, 5rem);
  --fz-h2: clamp(2.5rem, 4vw, 3.5rem);
  --fz-h3: clamp(2rem, 3vw, 2.5rem);
  --fz-p: clamp(1.5rem, 2vw, 1.8rem);
  --fz-a: var(--fz-p);

  --btn-link-padding-y: 1rem;
  --btn-link-padding-x: clamp(1rem, 2vw, 1.5rem);

  --gap: clamp(1.5rem, 2vw, 2rem);

  font-size: 10px;
  line-height: 1.6;
}

#root {
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--clr-black-1);
  color: var(--clr-white-1);

  min-height: 100vh;
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  margin: 0 auto;
  padding: 4rem 0;
}

.container {
  width: 70%;
  max-width: 70rem;
}

h1 {
  font-size: var(--fz-h1);
  text-transform: uppercase;
}

h2 {
  font-size: var(--fz-h2);
}

h3 {
  font-size: var(--fz-h3);
}

p {
  font-size: var(--fz-p);
  max-width: 40ch;
}

a {
  font-size: var(--fz-a);
  text-decoration: underline;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  all: unset;
  text-transform: uppercase;
}

.text {
  width: fit-content;
  margin: 0 auto;

  & > * {
    margin: 0 auto;
  }
}

.text-center {
  text-align: center;
}

.block {
  display: block;
}
